<!DOCTYPE html>
<html lang="en">
<head>
    <title>Senha incorreta</title>

    <script>
        confirm("Senha incorreta")
        window.location.replace('/room/<%= roomId %>')
    </script>
</head>
</html>